.contact-info {
  margin-bottom: 20px;
}
.contact-info h2 {
  margin: 0;
  font-size: 1.5em;
}
.contact-info p {
  margin: 5px 0;
}
.map-container {
  margin: 20px 0;
  height: 400px; /* Ajusta la altura del mapa según sea necesario */
}
.about-me img {
  width: 200px;
  height: auto;
  border-radius: 10px;
}
